.monu-button {
    background-color: #C7BFB2;
    color: #1a1a1a;
    font-family: Georgia, serif;
    font-weight: 1000;
    font-size: 8px;
    padding: 0.2rem 0.75rem;
    border-radius: 9999px;
    border: 1.5px solid #140909;
    box-shadow:
    inset 1px 1px 1px rgba(102, 102, 102, 0.2),
      1px 1px 0px rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s ease;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin: 0 4px; 
    margin-top: 8px; 
  }
  
  .monu-button:hover {
    background-color: #b3aa9d;
    cursor: pointer;
  }
  

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);  
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}
